.App {
    margin: 20px 50px;
    box-shadow: 1px 1px 5px #e3e3e3;
    padding: 20px;
    border-radius: 10px;
  }
  
  .weather-report {
    display: flex;
    justify-content: space-between;
  }
  
  .weather-report .left {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  
  .weather-report .left .temperature {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  
  .weather-report .left .temperature .switch {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .weather-report .left .temperature .switch button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #e3e3e3;
    padding: 0 2px;
  }
  
  .weather-report .left .temperature .switch button:disabled {
    color: #000;
  }
  
  .weather-report .left .temperature h3 {
    margin: 0;
    font-size: 2.4rem;
  }
  
  .weather-report .left .parameters {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
  }
  